@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}


<div class="card">
    <div class="card-header">
        Actions
    </div>
    <div class="card-body">
        <ul>
            <li>
                <a href="/Admin/addProject">Add New Project</a>
            </li>
            <li>
                <a href="/Admin/addTeam">Add New Team</a>
            </li>
            <li>
                <a href="/Admin/addUser">Add New User</a>
            </li>
            <li>
                <a href="/Admin/addUserProject">Authorize User</a>
            </li>
        </ul>
    </div>
</div>